@model urednistvo.ModelsView.Textual.StatisticsView
@{
    ViewBag.Title = "DataForRange";
}

<h2>Statistika za razdoblje od @Model.from do @Model.to</h2>
@*<h2>Statistika za razdoblje od model.from do @model.to :</h2>
<br />*@




