
@{
    ViewBag.Title = "Statistika";
}

<script src="../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<html>
<body>
    <input id="datetimepicker" type="text" />

</body>
</html>
<script>
    $(document).ready(function () {
        $('#datetimepicker').datetimepicker();
    });
</script>

