@model List<urednistvo.ModelsView.Textual.TextView>

<span class="side-title"><span class="glyphicon glyphicon-road"></span> Najave</span>
<div class="col">
    @foreach (var n in Model)
    {
        <p>
            <a href='@Url.Action("Details/" + @n.TextId, "Text")'>
                <h4> <span class="glyphicon glyphicon-flag"></span> @n.Title </h4>
            </a>
        </p>
                <p>
                    @Html.DisplayFor(modelItem => n.Time)
                </p>
    }
</div>