
@{
    ViewBag.Title = "Upload";
}

<h2>Dodavanje teksta u arhivu</h2>
<br />

<style>
    p.groove {
        width: 100px;
        padding: 5px;
        border: 2px solid black;
        margin: 2;
    }
</style>
<h3> Format teksta</h3>
<br />
<p>
    Predani tekst treba biti u rtf formatu i UTF8 encoding <br />
    te u sljedećem obliku:
</p>
<p class="groove">
    Naslov <br />
    dd/mm/yyyy <br />
    <br />
    Teksta

</p>
<br />

<form action="" method="post" enctype="multipart/form-data">

    <label for="file">Odaberi tekst:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" value="OK" />
</form>
