@model List<urednistvo.ModelsView.UserView>

<h2>Kontakt</h2>

@{
    ViewBag.Title = "Kontakt";
}

<address>
    Fakultet eletrotehnike i računarstva<br />
    Unska 3, Zagreb<br />
    <abbr title="Phone"></abbr>
</address>

<address>
    <strong>Podrška:</strong>   <a href="mailto:Support@example.com">TODOhunters@gmail.com</a><br />
</address>