@model List<urednistvo.Models.Notification>

@{
    ViewBag.Title = "Notifications";
}

<h2>@ViewBag.Title.</h2>

@foreach (var notification in Model)
{
    <div>
    <li>
        @Html.ActionLink(@notification.Title, "Details/" + @notification.NotificationId, "Notification")
    </li>
    </div>
}

