@model IEnumerable<urednistvo.ModelsView.Textual.SectionView>

@{
    ViewBag.Title = "Index";
}

<h2>Svi podlistci</h2>

<p>
    @Html.ActionLink("Dodaj novi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Naslov
        </th>
        <th>
            Broj tekstova
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Details/" + item.SectionId, "Sections")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfTexts)
        </td>
    </tr>
}

</table>
