@model List<urednistvo.ModelsView.Textual.SectionView>

@{
    ViewBag.Title = "Izdanje";
}

<h2>Detalji o izdanju</h2>

<table class="table">
    <tr>
        <th>
            Naslov odjeljka
        </th>
        <th>
            Broj tekstova
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details/" + item.SectionId, "Sections")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTexts)
            </td>
        </tr>
    }

</table>