@model Tuple<List<urednistvo.ModelsView.Textual.SectionView>, urednistvo.Models.Edition>

@{
    ViewBag.Title = "Izdanje";
}

<h2>Detalji o izdanju</h2>

<table class="table">
    <tr>
        <th>
            Naslov odjeljka
        </th>
        <th>
            Broj tekstova
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model.Item1)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details/" + item.SectionId, "Sections")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTexts)
            </td>
            <td>
                @Html.ActionLink("Pregledaj tekstove", "DetailsByEdition", "Sections", new { SectionId = item.SectionId, EditionId = Model.Item2.EditionId}, null)
            </td>
        </tr>
    }

</table>